﻿@Code
    ViewBag.Title = "Mi primera vista"
    Dim nombreAutor = "Fabiola y Karen"
    Dim nota = 100
End Code


<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Mi primera vista</h1>
        <h2>¡Hola Mundo!</h2>
        <p>
            <strong>Nosotras somos: </strong> @nombreAutor <br />
            Nuestra nota el día de hoy es: <input type="number" value="@nota" placeholder="Escriba su nota" />
        </p>
        <hr />
    </div>

    <div>
        <label>Caja para texto:</label>
        <input type="text" placeholder="Escriba cualquier cosa" />
        <hr />
    </div>

    <div>
        <a class="btn btn-info" href="/Home/Index"> Volver a la página de inicio</a> <br />
    </div>
</body>
</html>
