﻿
<h1>Página de contacto de la Rama Nueva.</h1>
<h4>Este cambio está en el master y lo quiero mantener en la versión final, lo demás no...</h4>

<p>
    Ahora tendrá un contenido muy diferente al que tiene la rama Master...
</p>
<p>
    @For i = 1 To 10
        @<h4> Soy el número: <strong>@i </strong> </h4>
    Next i
</p>